<div id="highscore-box">
    <div id="hs-title">HIGH-SCORES</div>
    <div id="hs-description">Name --- Time --- Dimension</div>
    {{#each highscores}}
        <p class="highscore">{{name}} --- {{time}} --- {{size}}</p>
    {{/each}}
</div>