<div id="instructions-container">
    <h2 id="instructions-title">Instructions</h2>
    <p>&emsp;
        The maze is represented by a series of two-dimensional slices. On the right, the slices are grouped into stacks, showing the third dimension. 
        Adjacent slices within a stack may be connected by passageways. Diagonal arrows point in the direction of these passageways. Similarly, 
        adjacent stacks may be connected through the fourth dimension. Vertical arrows indicate these.
    </p>
    <p>&emsp;
        The player is represented by the red tile. The player's slice is also colored red in the stack menu to the right. Adjacent tiles are highlighted 
        in pink. If there is a passageway from the player's tile to another slice, the connected slice is highlighted in pink as well even if it is not 
        in the same stack. The goal of the maze is colored yellow, or orange when the player is adjacent. The goal's slice is colored in the same manner.
    </p>
    <p>&emsp;
        You can move by clicking on a pink (adjacent) tile even if it is on a different slice or stack. You can also view any slice without moving by 
        clicking on it in the stack menu. Try to get to the goal as fast as possible. Good luck!
    </p>
</div>