<div id="pause-backdrop" class="pause-backdrop-hidden">
    <div id="stopwatch">
        <h3 id="stopwatch-title">Time Elapsed:</h3>
        <p id="counter">00:00</p>
    </div>
    <div id="game-buttons-container">
        <a class="game-button" id="menu-button" href="/">Menu</a>
        <button class="game-button" id="pause-button">Pause</button>
    </div>
    <div class="win-message-hidden" id="win-message-container">
        <h1 id="win-message">Congratulations! You won!</h1>
    </div>
</div>