<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>4D Maze Game</title>

    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- Load Google fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;800&display=swap"
      rel="stylesheet">
  </head>
  <body>
      {{{ body }}}
  </body>
</html>