<script src="index.js" charset="utf-8" defer></script>

<section class="menu-container">
    <h1 id="title">Four-Dimensional Maze Game</h1>

    {{> menu}}

    <button id="start-button">Start!</button>
    
    {{> highscoreBox highscores=highscores}}
</section>